/* 
Author: Neeraj Verma
LinkedIn: https://www.linkedin.com/in/neerajvermagps/
Updated on: 07-07-2025
*/

::-webkit-scrollbar {
  display: none;
}

ul,
ol,
dl {
  padding-left: 20px;
}

/* Section Commons */
.section-title {
  border-bottom: 2px solid var(--theme-yellow);
  padding-bottom: 10px;
  text-align: start;
  font-size: 23px;
  width: fit-content;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--main-theme-color);
}

.sub-section-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-theme-color);
  margin: 0;
  margin-bottom: 15px;
}

.section-subtitle {
  text-align: center;
  font-size: 16px;
  color: #4a5568;
  margin-bottom: 50px;
}

/* Header */
header {
  gap: 10px;
  h1 {
    color: var(--main-theme-color);
  }
}

.logo-left-l,
.logo-right-l {
  width: 110px;
  img {
    object-fit: cover;
    width: 100%;
  }
}

.logo-left-s,
.logo-right-s {
  display: none;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.header-text {
  width: calc(100% - 230px);
}

.tth-1 {
  font-size: 21px;
  line-height: 1.5;
}

/* Hero */
.hero-slider {
  height: 400px;
}

/* Main */
.main {
  flex-direction: row;
  p {
    text-align: justify;
  }
  li {
    text-align: justify;
  }
}

/* Main Content */
.content {
  width: calc(100% - 405px);
  padding: 50px 30px;
  padding-left: 50px;
}

.themed-accordion .accordion-button {
  color: var(--main-theme-color);
  font-weight: 600;
  font-size: 1.05rem;
}

.themed-accordion .accordion-button:not(.collapsed) {
  background-color: var(--main-theme-color);
  color: white;
}
.themed-accordion .accordion-body {
  background-color: #f8f9fa;
  color: var(--primary-font-color);
  font-size: 0.95rem;
  line-height: 1.6;
  padding: 1.2rem;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: var(--main-theme-color);
}

.accordion-body img {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 6px;
  object-fit: cover;
}

.aside {
  width: 400px;
  padding: 50px 30px;
  padding-right: 50px;
}

.date-ctnr {
  width: 100%;
  background: rgba(255, 255, 255, 0.42);
  height: fit-content;
}

.dates li {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #b9c3dc;
  padding: 10px 0;
}

.date-title {
  font-size: 14px;
  color: #000000;
}

.date-desc {
  font-size: 16px;
  font-weight: bold;
  color: #7d7d7d;
}

/* Tracks */
.cfp-section {
  padding: 60px 20px;
  color: #333;
}

.cfp-intro {
  max-width: 800px;
  margin: 0 auto 60px;
  text-align: justify;
  font-size: 1.1rem;
}

.cfp-topics {
  gap: 20px;
  flex-wrap: wrap;
}
.cfp-actions {
  text-align: center;
  margin-top: 40px;
}
.track-card {
  background: var(--bg-color-light);
  border: 1px solid #1e97839a;
  border-radius: 5px;
  margin-bottom: 15px;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 12px 3px #e7e7e7;
  transition: opacity 1s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.track-card:hover {
  box-shadow: 0 2px 3px 5px #e7e7e7;
}

.track-card h3 {
  margin-top: 0;
  color: black;
  font-size: 18px;
  line-height: 30px;
}

.topic-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  max-height: 150px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.topic-list.expanded {
  max-height: 1000px;
}

.topic-list li {
  display: flex;
  margin-bottom: 5px;
  color: #00000095;
  font-size: 15px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.topic-list li::before {
  content: ">";
  font-family: Advent Pro;
  display: flex;
  width: 14px;
}

.topic-list li.more {
  display: none;
}

.topic-list.expanded li.more {
  display: flex;
}

.track-number {
  color: #00000068;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: "Alexandria";
}

.view-more-btn {
  margin-left: 0;
  margin-top: 10px;
  padding: 8px 14px;
  border-radius: 3px;
  img {
    width: 12px;
    margin-right: 0px;
    margin-left: 5px;
  }
}

/* Registration */
.reg-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.reg-box {
  background-image: linear-gradient(45deg, #004d4026, transparent);
  border: 1px solid #cde4f7;
  border-radius: 10px;
  padding: 25px 20px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: opacity 1s ease, transform 0.3s ease;
  small {
    font-size: 13px;
    font-weight: normal;
  }
}

.reg-box:hover {
  transform: translateY(-5px);
}

.reg-box h4 {
  color: #747474;
  font-size: 1.1rem;
  margin-bottom: 15px;
  min-height: 60px;
}

.reg-box p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.fee-inr {
  display: block;
  color: #2e7d32;
  margin-bottom: 5px;
}

.fee-usd {
  color: #1976d2;
}

.reg-note {
  margin-top: 40px;
  background: #20863882;
;
  color: #020a02;
  border: 1px solid #208638d2;
  border-radius: 5px;
  padding: 15px 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.95rem;
  text-align: left;
}

.bank-card {
  background-color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #cce0f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.bank-top-row {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.bank-col {
  width: 50%;
}
.bank-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px dashed #d5e5f5;
}

.bank-row:last-child {
  border-bottom: none;
}

.label {
  font-weight: 600;
  color: #004D40;
}

.value {
  color: #222;
  font-weight: 500;
  text-align: right;
}

/* Committee */
.conference-committees {
  max-width: 1000px;
  margin: auto;
}

.committee-block {
  background: #1e97831e;
  margin-bottom: 20px;
  padding: 20px 15px;
  border-radius: 5px;
}

.committee-block h3 {
  border-left: 2px solid #004080;
  color: #004080;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}

.committee-block p {
  margin: 10px 0 0 15px;
  display: flex;
  flex-direction: column;
}

.committee-pair {
  display: flex;
  gap: 20px;
}

.committee-group {
  width: 48%;
}

.cb-name {
  font-size: 17px;
  color: #000000;
}

.cb-des {
  font-size: 14px;
  color: #000000af;
}

/* Past Coneferences */
.conference-card,
.journal-card {
  background-color: #ffffff;
  border: 2px solid var(--main-theme-color);
  transition: 0.3s ease;
  box-shadow: 0 8px 24px rgba(0, 77, 64, 0.15);
}

.conference-card:hover,
.journal-card:hover {
  background-color: #1e97831e;
}

.conf-year {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--main-theme-color);
}

.conf-date {
  font-size: 0.9rem;
  color: var(--tertiary-font-color);
  display: block;
  margin-top: 2px;
}

.conf-content p {
  margin-top: 1rem;
  color: var(--main-theme-color);
  line-height: 1.6;
}

.ul-bullets {
  margin-top: 1rem;
  padding-left: 0;
  list-style: none;
}

.ul-bullets li {
  margin-bottom: 0.5rem;
  position: relative;
  left: 0;
  text-align: start;
  transition: 0.3s;
  a {
    color: var(--main-theme-color);
  }
}

.ul-bullets li::before {
  content: " ";
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 17px;
  margin-right: 8px;
  background-image: url("/assets/icons/bullet.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.ul-bullets li:hover {
  a {
    text-decoration: underline;
  }
  left: 7px;
}

.conf-preview {
  position: relative;
}

.read-more-btn {
  padding: 2px 13px;
  border-radius: 24px;
  margin-left: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Publication */
.publication-section a {
  color: var(--main-theme-color);
  transition: 0.3s;
}

.publication-section a:hover {
  text-decoration: underline;
}

.two-col {
  padding-left: 0;
}

.two-col li {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  width: 100%;
  padding: 5px 0;
}

.two-col-head {
  font-weight: bold;
  color: #000000;
}

.two-col-data {
  text-align: start;
}

.journal-card {
  margin-top: 0px;
}

.a-external a::after {
  content: " ";
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 17px;
  margin-left: 8px;
  background-image: url("/assets/icons/link.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s;
}

/* Sponsorship */
.sponsorship-table {
  overflow-x: auto;
  padding: 5px;
  padding-bottom: 20px;
}

.sponsorship-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
  box-shadow: 0 6px 9px rgba(0, 77, 64, 0.15);
  background: white;
  border: 1px solid #cce5f8;
  border-radius: 8px;
  overflow: hidden;
}

.sponsorship-table thead {
  background: #004d40;
  color: white;
}

.sponsorship-table thead tr:hover {
  background-color: #004d40;
}

.sponsorship-table th,
.sponsorship-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e6f0f8;
}

.sponsorship-table td:first-child {
  text-align: left;
}

.sponsorship-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.sponsorship-table tr:hover {
  background-color: #004d4024;
}

.table-scroll {
  padding: 15px 10px;
  font-family: var(--ThemeFont);
  display: none;
}

/* Contacts */
.hotel-bars {
  max-width: 600px;
  margin: auto;
}
.hotel-bar {
  margin: 0.6rem 0;
}
.hotel-info {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: var(--ThemeFont, #242424);
}
.bar {
  height: 12px;
  background: var(--bar-bg);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.bar::after {
  content: '';
  position: absolute;
  height: 100%;
  width: calc(var(--distance) / 5 * 100%);
  background: var(--bar-fill);
  transition: width 1s ease;
}
.tabs {
  display: flex;
  overflow-x: auto;
  gap: 5px;
}
.tab-btn {
  min-width: 110px;
}
.tab-btn {
  background: #b2dfdb70;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  img {
    height: 15px;
    margin-right: 5px;
  }
}
.tab-btn.active,
.tab-btn:hover {
  background: var(--main-theme-color);
  color: #fff;
  img {
    filter: grayscale(1) invert(1) brightness(1.5);
  }
}
.panel {
  background: #b2dfdbad;
  border-top: 1px solid var(--main-theme-color);
  padding: 20px;
  color: var(--tertiary-font-color, #242424);
}

/* Contacts */
.contact-card {
  background-color: #f7f9f9;
}

.reach-map {
  width: 100%;
  height: 400px;
  border: 1.5px solid #2c5282;
  border-radius: 5px;
}

.reach-us {
  margin-top: 60px;
}

/* Downloads */
.downloads-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* .past {
 
  background-color: #ffffff;
  border: 2px solid var(--main-theme-color);
  transition: 0.3s ease;
  box-shadow: 0 8px 24px rgba(0, 77, 64, 0.15);
} */

.download-item {
  background: #ffffff;
  border: 1px solid #004d4050;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;
  button, a {
    width: 145px;
  }
}

.download-item h4 {
  width: calc(100% - 160px);
  font-size: 16px;
  text-align: start;
  color: #004D40;
  margin-bottom: 0;
}

/* Marquee */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  font-size: 14px;
  animation: scroll-left 40s linear infinite;
  font-weight: 600;
  color: var(--main-theme-color);
}

.marquee-content:hover {
  animation-play-state: paused;
}

.marquee a {
  color: #004080;
  text-decoration: underline;
  margin: 0 20px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 950px) {
  .committee-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .committee-pair {
    flex-direction: column;
    gap: 0;
  }

  .committee-group {
    width: 100%;
  }
  .committee-block h3 {
    font-size: 17px;
  }
  .table-scroll {
    display: block;
  }
  .bank-top-row {
    gap: 0;
    flex-direction: column;
  }
  .bank-col {
    width: 100%;
    border-bottom: 1px dashed #d5e5f5;
  }
}

@media screen and (max-width: 800px) {
  .logo-left-l,
  .logo-right-l {
    display: none;
  }

  .logo-left-s,
  .logo-right-s {
    display: block;
    width: auto;
    height: 80px;
  }

  .header-text {
    width: 100%;
  }
  .tth-1 {
    font-size: 17px;
  }
  .tth-2 {
    gap: 10px;
  }
  .hero-slider {
    height: 300px;
  }

  .main {
    flex-direction: column;
  }

  .content {
    width: 100%;
    padding: 50px 30px;
  }

  .aside {
    width: 70%;
    margin: auto;
    padding: 50px 30px;
    padding-top: 0;
  }

  .publication-section h2 {
    font-size: 1.2rem;
  }

  .pub-box {
    padding: 20px;
  }

  .pub-box h3 {
    font-size: 1.05rem;
  }
  .contacts,
  .downloads-grid {
    flex-direction: column;
    align-items: center;
  }

  .download-item {
    width: min(90%, 260px);
    flex-direction: column;
    padding: 20px;
  }

  .download-item h4 {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .bank-top-row {
    gap: 0;
    flex-direction: column;
  }
  .bank-col {
    width: 100%;
    border-bottom: 1px dashed #d5e5f5;
  }
}

@media (max-width: 650px) {
  .accordion-body img {
    height: 200px;
  }
  .themed-accordion .accordion-button {
    font-size: 14px;
  }
  .aside {
    width: 100%;
  }
  .countdown-blocks {
    gap: 16px;
  }

  .time-block {
    padding: 10px 15px;
    min-width: 90px;
  }

  .time-value {
    font-size: 22px;
  }

  .time-label {
    font-size: 13px;
  }
  .section-title {
    font-size: 1.5rem;
  }

  .cfp-intro {
    font-size: 1rem;
  }

  .track-card h3 {
    font-size: 1rem;
  }

  .committee-patrons-b {
    flex-direction: column;
  }
  .bank-top-row {
    gap: 25px;
    flex-direction: row;
  }
  .bank-col {
    width: 50%;
    border-bottom: none;
  }
  .bank-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }

  .value {
    margin-top: 5px;
    text-align: start !important;
  }
}

@media (max-width: 450px) {
  .hero-content {
    h1 {
      font-size: 35px;
    }
  }

  .countdown-blocks {
    max-width: 300px;
    flex-wrap: wrap;
  }

  .countdown-description {
    font-size: 15px;
  }

  .bank-top-row {
    gap: 0;
    flex-direction: column;
  }
  .bank-col {
    width: 100%;
    border-bottom: 1px dashed #d5e5f5;
  }

  .bank-row {
    flex-direction: column;
  }
}
